@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* li {
  list-style-type: none;
}
* a {
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  header {
    position: relative;
  }
}
@media screen and (min-width: 576px) {
  header .windows {
    position: absolute;
    background-color: rgba(46, 46, 46, 0.4);
    top: 40%;
    padding: 1.5rem 2rem;
    margin-left: 2rem;
    color: white;
    border-radius: 10px;
  }
}
header .windows .text {
  display: none;
}
@media screen and (min-width: 576px) {
  header .windows .text {
    display: block;
  }
}
@media screen and (min-width: 576px) {
  header .windows .text h2 {
    border-bottom: 1px solid white;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
    font-size: 2rem;
  }
}
@media screen and (min-width: 576px) {
  header .windows .text p {
    padding: 1rem;
    text-align: center;
  }
}
header .windows button {
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: rgb(0, 187, 0);
  color: white;
  border: 0;
  transition: background-color 0.5s ease-in-out;
}
header .windows button:hover {
  background-color: rgba(0, 187, 0, 0.5);
}
header .image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  vertical-align: bottom;
}
header .tour {
  position: relative;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
}
@media screen and (min-width: 576px) {
  header .tour {
    position: absolute;
    right: 0;
    top: 50%;
  }
}

main #presentation {
  width: 95%;
  margin: auto;
  padding-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  main #presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
}
@media screen and (min-width: 576px) {
  main #presentation .text {
    width: 60%;
    margin-right: 1rem;
  }
}
main #presentation .text h1 {
  font-size: 4.5rem;
  margin-top: 4.5rem;
}
main #presentation .text h2 {
  color: rgb(13, 188, 13);
  font-size: 3.2rem;
}
main #presentation .text p {
  margin: 1rem 0;
  font-weight: 100;
}
main #presentation .text p span {
  font-size: 2rem;
}
main #presentation .text h4 {
  margin: 1rem 0;
}
main #presentation .text h4 i {
  font-size: 1.2rem;
}
main #presentation .text h4 .fa-android {
  color: green;
}
main #presentation .text h4 .fa-apple {
  color: black;
}
main #presentation .text h4 .fa-windows {
  color: blue;
}
main #presentation .text h3 {
  background-color: #f1f1f1;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 100;
  margin: 2rem 0;
  padding: 0.5rem 1rem;
}
main #presentation .image {
  width: 80%;
  margin: auto;
}
@media screen and (min-width: 576px) {
  main #presentation .image {
    width: 40%;
  }
}
main #presentation .image img {
  width: 100%;
}
main #clarity {
  background-color: rgb(237, 237, 237);
  padding: 5rem 1rem;
}
@media screen and (min-width: 576px) {
  main #clarity {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
main #clarity .image {
  display: none;
}
@media screen and (min-width: 576px) {
  main #clarity .image {
    display: block;
    width: 40%;
    margin-right: 1rem;
  }
}
main #clarity .image img {
  width: 100%;
}
@media screen and (min-width: 576px) {
  main #clarity .text {
    width: 60%;
  }
}
main #clarity .text h2 {
  font-size: 4.5rem;
}
main #clarity .text h3 {
  font-size: 3.5rem;
  color: red;
}
main #clarity .text p span {
  font-size: 2rem;
}
main #features {
  background-color: rgba(52, 52, 52, 0.8);
  padding: 5rem 0 4rem 0;
}
main #features h2 {
  color: white;
  font-size: 4rem;
  text-align: center;
}
main #features p {
  color: white;
  text-align: center;
}
main #features .feature {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
main #features .feature .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: auto;
  padding: 1rem;
}
main #features .feature .grid i {
  font-size: 4rem;
  margin-bottom: 0.8rem;
  color: white;
}
main #features .feature .grid .blue {
  color: #2296f3;
}
main #features .feature .grid .lightBlue {
  color: #17bad3;
}
main #features .feature .grid .red {
  color: red;
}
main #features .feature .grid .orange {
  color: orange;
}
main #features .feature .grid .pink {
  color: #e81f63;
}
main #features .feature .grid .green {
  color: rgb(0, 198, 0);
}
main #features .feature .grid .lightGreen {
  color: #d3be0f;
}
main #features .feature .grid .gray {
  color: gray;
}
main #features .feature .grid .lightYellow {
  color: #fec106;
}
main #pricing {
  width: 98%;
  margin: auto;
  padding: 5rem 0;
}
main #pricing h2 {
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
}
main #pricing p {
  font-size: 1.3rem;
  text-align: center;
}
main #pricing .cards {
  width: 95%;
  margin: auto;
}
@media screen and (min-width: 576px) {
  main #pricing .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
main #pricing .cards .card {
  margin: 3rem 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 576px) {
  main #pricing .cards .card {
    width: 49%;
  }
}
main #pricing .cards .card h3 {
  background-color: rgb(95, 95, 95);
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
main #pricing .cards .card p {
  color: rgb(70, 70, 70);
  padding: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
main #pricing .cards .card p span {
  color: black;
}
main #pricing .cards .card h4 {
  text-align: center;
  padding: 1rem 0;
  font-size: 3rem;
  color: gray;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
main #pricing .cards .card .btn {
  background-color: #f1f1f1;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
}
main #pricing .cards .card .btn button {
  background-color: black;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border: none;
}
main #pricing .cards .card .red {
  background-color: #f54337;
}

footer {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
footer .icon {
  padding: 1rem;
}
footer .icon i {
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */